* {
	font-size: 30px;
	transition: opacity 0.25s ease-in-out;
}
body {
	background: linear-gradient(to top, #337, #88C);
	color: #fff;
	height: 100vh;
}
.div {
	position: absolute;
	opacity: 0;
	display: flex;
	flex-direction: column;
}
input {
	width: 90%;
	height: 100px;
	margin: 20px;
}
button {
	height: 100px;
	width: 20%;
}
#input {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

